p {
  text-align: justify !important;
}

.spons-brochure a {
  text-decoration: none;
  font-size: 1.2rem;
}

.img {
  height: 200px;
  width: 200px;
  transition: all 0.5s;
}

.img img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  max-height: 200px;
  opacity: 1;
}

.img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.img:hover > img {
  opacity: 1;
  transition: all 0.5s;
}

#nalco {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  max-height: 300px;
}

.cf {
  max-width: 180px;
  max-height: 180px;
}

.cf img {
  max-width: 180px;
  max-height: 180px;
}
#rs_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px; /* Ensures the div has enough height to center the logo */
}

#rs_link {
  display: flex; /* So the image can be centered inside the link */
  justify-content: center;
  align-items: center;
  height: 100%;
}

#rs {
  max-height: 100%;  /* Limits image height to parent container */
  width: auto;
}


@media only screen and (max-width: 576px) {
  #nalco {
    max-width: 260px;
    max-height: 260px;
  }
}

